.postList {
	overflow-y: scroll;
	width: 100%;
}
.post {
	min-height: 120px;
	padding: 20px;
	margin: 20px;
	width: auto;
	background-color: #e2e2e2;
	border-radius: 10px;
	box-shadow: -10px 10px 17px -11px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -10px 10px 17px -11px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -10px 10px 17px -11px rgba(0, 0, 0, 0.75);
}
.post:hover {
	cursor: pointer;
	/* enlarge */
	transform: scale(1.005);
}
.post p {
	margin: 0;
	padding: 0;
	height: 80px;
}
.post span {
	color: rgb(116, 116, 116);
	font-size: 0.8rem;
	position: relative;
}
.newPostBox {
	width: 100%;
	min-height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-shadow: -1px 10px 16px -8px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -1px 10px 16px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 10px 16px -8px rgba(0, 0, 0, 0.75);
	z-index: 1000;
}
.inputBox {
	width: 100%;
	height: 50px;
}
.postButton {
	width: 10%;
	min-height: 50px;
	margin-left: 20px;
}
.loading {
	font-size: larger;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
