.postList {
	overflow-y: scroll;
	width: 100%;
	background-color: #34ccfe;
}
.post {
	min-height: 120px;
	padding: 20px;
	margin: 20px;
	width: auto;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: -10px 10px 17px -11px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -10px 10px 17px -11px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -10px 10px 17px -11px rgba(0, 0, 0, 0.75);
}
.post:hover {
	cursor: pointer;
	/* enlarge */
	transform: scale(1.005);
}
.post p {
	margin: 0;
	padding: 0;
	height: 80px;
	word-wrap: break-word;
	overflow-y: scroll;
}
.post span {
	color: rgb(116, 116, 116);
	font-size: 0.8rem;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: flex-start;
}
.postFoot {
	display: flex;
	flex-direction: row;
}
.postFoot span {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: center;
}
.comments {
	justify-self: flex-end;
	margin: auto;
	margin-right: 0;
	width: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.newPostBox {
	width: 100%;
	min-height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding: 30px 20px 20px 20px;
	box-shadow: -1px 10px 16px -8px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -1px 10px 16px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 10px 16px -8px rgba(0, 0, 0, 0.75);
	z-index: 1000;
}
.inputBox {
	width: 100%;
	height: 70px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.postButton {
	width: 15%;
	min-height: 35px;
	margin-left: 20px;
	background-color: #34ccfe;
	border-radius: 100px;
	color: white;
	border: none;
}
.loading {
	font-size: larger;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.pageDesc {
	color: #34ccfe;
	margin-bottom: 20px;
	align-self: flex-start;
	font-family: "IBM Plex Sans";
	font-size: 30px;
}
.postList::-webkit-scrollbar {
	width: 10px;
}
.postList::-webkit-scrollbar-track {
	background: #34ccfe;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.postList::-webkit-scrollbar-thumb {
	background-color: #6e6e6e;
	border-radius: 10px;
}
